<!-- LOGO -->
<div id="logo">
  <div class="container_16">
    <div class="grid_4">
      <%= image_tag 'logo.png', :id => 'pic_1' %>
      <%= image_tag 'logo2.png', :id => 'pic_2', :style => 'display:none' %>
      <%= image_tag 'logo3.png', :id => 'pic_3', :style => 'display:none' %>
    </div>
    <div class="grid_12">
      Skauting Jurajski
    </div>
  </div>
  <div class="clear"></div>
</div>
